body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#252222;
}

header{
    background:#2E7D32;
    color:white;
    text-align:center;
    padding:30px;
}

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
    color:#2E7D32;
}

footer{
    background:#212121;
    color:white;
    text-align:center;
    padding:15px;
}

